# Archivos grandes de resourcepacks
resourcepacks/*.zip

# Archivos de instancia de Minecraft
options.txt
optionsof.txt
optionsshaders.txt
servers.dat
usercache.json
usernamecache.json

# Logs
logs/
crash-reports/

# Screenshots
screenshots/
