# Archivos grandes de resourcepacks
resourcepacks/*.zip

# Archivos de instancia de Minecraft
*.jar
!packwiz.exe
options.txt
optionsof.txt
optionsshaders.txt
servers.dat
usercache.json
usernamecache.json

# Ignorar JARs de mods pero NO los archivos .pw.toml
mods/*.jar
mods/*.disabled

# Logs
logs/
crash-reports/

# Screenshots
screenshots/
